.home {
	display: grid;
	height: 100vh;
	width: 100vw;
}

/* Chatbox.css */
.chatbox-header {
	height: 50px;
	background-color: #f2f2f2;
	padding: 20px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid lightgray;
}

.chatbox-content {
	height: calc(90vh - 50px);
	background-color: #f0ece3;
	padding: 30px;
	/* overflow: scroll; */
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
}

.chatbox-footer {
	padding: 15px;
	height: 10vh;
	border-top: 1px solid lightgray;
	display: flex;
	justify-content: start;
	align-items: center;
}

.welcome-img {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* LeftSideBar.css */
.left-sider {
	background: antiquewhite;
	left: 0;
	border-right: 1px solid lightgray;
}

.left-sider-header {
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	/* z-index: 10; */
}

.left-sider-content {
	height: calc(100vh - 100px);
	overflow: scroll;
}

@media only screen and (max-width: 770px) {
	.chatroom-name {
		font-size: 15px;
	}
}

@media only screen and (max-width: 770px) {
	.chatroom-title-name {
		font-size: 17px;
	}
}

/* RightSideBar */
.right-sider {
	background-color: antiquewhite;
	right: 0;
	border-left: 1px solid lightgray;
	letter-spacing: 1px;
}

.right-sider-content {
	height: 100vh;
	overflow: scroll;
}

.members-text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px;
}

.member {
	display: flex;
	padding: 10px;
	/* cursor: pointer; able user to click*/
}

.member-text {
	margin-left: 20px;
}

.rightSideBar-h1 {
	width: 50%;
	margin: 0px;
	padding: 5px;
	border: 1px solid lightgray;
	border-radius: 50%;
	background-color: cornsilk;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2);
	font-size: 1.3rem;
}

/* Login.css */

.login-container {
	height: 100vh;
	width: 100vw;
	background-color: #f0ece3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-subcontainer {
	height: 450px;
	width: 400px;
	background-color: honeydew;
	display: flex;
	justify-content: center;
	border-radius: 5%;
	padding: 0px 20px;
}

.login-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.login-title {
	height: 10%;
	color: indigo;
	padding: 15px;
}

.login-form {
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
	/* border: 1px solid red; */
}

.login-form-item {
	width: 80%;
}

.login-form-item:nth-child(4) {
	width: auto;
}

.login-form-button {
	margin: 12px;
}

.login-form-register {
	margin: 12px;
}

p {
	margin: 0px;
	font-size: 1.1rem;
}

.register-container {
	height: 100vh;
	width: 100vw;
	background-color: #f0ece3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.register-subcontainer {
	height: 450px;
	width: 400px;
	background-color: honeydew;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5%;
	padding: 0px 20px;
}

.register-form {
	height: 90%;
	padding: 20px;
	/* border: 2px solid red; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* margin: 0px 5px 20px 5px; */
	margin-bottom: 20px;
}

.register-form-item {
	width: 100%;
	display: flex;
}

.register-title {
	height: 10%;
	color: indigo;
	padding: 15px;
}

.register-form-button-container {
	display: flex;
	justify-content: space-between;
}

.register-form-button {
	margin: 5px 7px 5px 0px;
}

.register-form-back {
	margin: 5px 0px 5px 7px;
}

@media only screen and (max-width: 575px) {
	.register-title {
		padding-bottom: 10px;
	}
	.register-form-item {
		margin: 0;
	}
	.register-form-button {
		margin-top: 20px;
	}
}
